In [7]:
# importing orders_products_prior
import pandas as pd
import numpy as np
import os

In [8]:
df_ords_prior = pd.read_csv(r'C:\Users\ashsa\Desktop\Instacart busket analysis\02 Data\PREPARED DATA\orders_products_prior.csv', index_col = False)

In [9]:
# check the output
df_ords_prior.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [12]:
df_ords = pd.read_csv(r'C:\Users\ashsa\Desktop\Instacart busket analysis\02 Data\PREPARED DATA\orders.csv', index_col = False)

In [13]:
df_ords.head()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,2539329,1,prior,1,2,8,NaN
1,2398795,1,prior,2,3,7,15.0
2,473747,1,prior,3,3,12,21.0
3,2254736,1,prior,4,4,7,29.0
4,431534,1,prior,5,4,15,28.0

In [14]:
df_ords_prior.shape

(32434489, 4)

In [15]:
df_ords.shape

(3421083, 7)

In [16]:
df_large_merge = df_ords.merge(df_ords_prior, on = 'order_id', indicator = True)

In [17]:
df_large_merge.head()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,prior,1,2,8,NaN,196,1,0,both
1,2539329,1,prior,1,2,8,NaN,14084,2,0,both
2,2539329,1,prior,1,2,8,NaN,12427,3,0,both
3,2539329,1,prior,1,2,8,NaN,26088,4,0,both
4,2539329,1,prior,1,2,8,NaN,26405,5,0,both

In [22]:
df_large_merge['_merge'].value_counts()

_merge
both          32434489
left_only            0
right_only           0
Name: count, dtype: int64

In [23]:
df_large_merge['_merge'].value_counts()

_merge
both          32434489
left_only            0
right_only           0
Name: count, dtype: int64

In [24]:
df_merge_large = df_ords.merge(df_ords_prior, on = 'order_id', how = 'outer')

In [28]:
df_large_merge['_merge'].value_counts()

_merge
both          32434489
left_only            0
right_only           0
Name: count, dtype: int64

In [29]:
df_merge_large = df_ords.merge(df_ords_prior, on='order_id', how='outer', indicator=True)

In [31]:
df_merge_large['_merge'].value_counts()

_merge
both          32434489
left_only       206209
right_only           0
Name: count, dtype: int64

In [34]:
path = (r'C:\Users\ashsa\Desktop\Instacart busket analysis')

In [35]:
output_dir = os.path.join(path, '02 data', 'PREPARED DATA')
os.makedirs(output_dir, exist_ok=True)

In [37]:
df_merge_large = df_ords.merge(df_ords_prior, on='order_id', how='outer', indicator=True)

In [44]:
df_merged_large = os.path.join(path, '02 data', 'PREPARED DATA')

In [45]:
df_merged_large

'C:\\Users\\ashsa\\Desktop\\Instacart busket analysis\\02 data\\PREPARED DATA'

In [47]:
df_merged_larged = df_ords.merge(df_ords_prior, on = 'order_id', indicator = True)

In [49]:
type(df_merged_large)

str

In [50]:
df_merged_large = df_ords.merge(df_ords_prior, on='order_id', how='outer', indicator=True)

In [51]:
type(df_merged_large)

pandas.core.frame.DataFrame

In [54]:
df_merged_large.to_pickle(os.path.join(path, '02 data', 'PREPARED DATA', 'orders_products_combined.pkl'))

In [55]:
df_merged_larged.to_csv(os.path.join(path, '02 data', 'PREPARED DATA', 'ords_prods_prior.csv'))